# Ignore all __pycache__ directories
/**/__pycache__/

# Ignore Crawling_codishop directory
Crawling_codishop/

# Ignore model checkpoints (Modeling/FashionModel/checkpoints)
Modeling/FashionModel/checkpoints/
